.website_feature_main{
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.wesbsite_feature_child{
    border: 2px solid rgb(222,190,22);
    border-radius: 10px;
}
.wesbsite_feature_child img{
    width: 40%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.wesbsite_feature_child p{
    color: rgb(222,190,22);
}